[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
hypothesis = ">=3.57"
mypy = ">=0.610"
pylint = ">=1.9"
pytest = ">=3.6"
pytest-cov = ">=2.5"
pytest-mock = ">=1.10"
tox = ">=3.0"
yapf = ">=0.22"

[requires]
python_version = "3.6"
